.imge{
    width: 300px;
    height: 300px;
    margin-top: 20px
}
.heads{
    font-family:'Times New Roman', Times, serif;
    text-transform: capitalize; 
    color: rgb(62, 121, 177);
   
}
.Inputbox{
    margin-top: 40px;
}
.changeBtn{
    margin-top: 50px;
    
}