.itemIm{
   
  width: 60%;
  border-radius: 10%;
  max-height: 600px;
}
.imgtoper{
margin-top: 10%;
}
.itemHeader{
    font-family: "Roboto", sans-serif;
    color: rgb(73, 73, 160);
    font-size: 18px;
    font-weight: bold;   
}
.divItemTop{


}
.ItemValueStyle{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: rgb(102, 99, 99);
}
.AddBItBox{
    height: 200px;
    background-color: rgb(243, 237, 237);
    text-align: center;
    width: 250px;
   
}
.ADDBID{
    margin-top: 160px;

}
.heading_class{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: rgb(73, 73, 160);
    text-transform: capitalize;
}
.detail_container{
    margin-top: 50px;
    border: 2px solid #9DB5CB;
    padding: 1.7%;
    border-radius: 4%;

}
.bid-view{
    width: 300px;
    height: 500px;
    background-color: #ffffff;
    border:2px solid #EDEDED;
    padding: 10px;

}
.circle-view{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border:4px solid rgb(73, 73, 160);
    margin-left: 60px;
}
.auction-heading{
    text-align: center;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;

}
.bid-text{
    text-align: center;
    margin-top: 55px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
}
.auction-bid-input{
    margin-top: 60px;
    text-align: center;
}
.bid-btn{
    width: 240px;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
}
.bid-text-value{
    font-family: Arial;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(244,129,32);
}
