.images{
    width: 100%;
    height: 180px;
}

.labelStyle{
    font-family: sans-serif;
    color: #33648D;
    font-size: 12px;
    margin-top: 20px;
}
.hollDiv{
     margin-top: 20px;
    padding-bottom: 0px;
    border-radius: 30px;
    padding-right: 0px; 
}
.listHead{
    height: 50px;
   background-color: #33648D;
  margin-top: 90px;
   margin-left: 0px;
}

.listFoot{
    height: 50px;
    margin-left: 0px;
    background-color: rgb(209, 204, 204);
}
.headPara{
    font-family: sans-serif;
    color: rgb(248, 244, 244);
     padding-left: 10px;
     padding-top: 15px; 
    font-size: 16px;
    
}
.footPrice{
    font-family: sans-serif;
    color: #33648D;
     padding-left: 10px;
     padding-top: 15px; 
    font-size: 16px;
    float: right;
}
.headDate{
    float: right;
     margin-top: -30px; 
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    padding-right: 15px;
}

.footendDate{
    color: #33648d;
    padding-top: 15px;
    padding-left: 10px; 
    font-family: sans-serif;
    font-size: 16px;

}

.categoryName{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-top: 220px;
}
