.textBox{
    margin-top: 25px;

}
.labelStyle{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(62, 121, 177);
    font-size: 20px;
}
.imgDiv{
    background-color: ghostwhite;
    text-align: center;
    height: 400px;
    margin-top: 60px;
    
}
.CameraIcon{
    opacity: 1;
    margin-top: 120px;
    color: rgb(224, 207, 207)
}
